version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend

    container_name: frontend-container
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - BACKEND_URL=http://backend:5000

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend

    container_name: backend-container
    ports:
      - "5000:5000"
    volumes:
      - todo-data:/app

volumes:
  todo-data: